@model Ancol_PTM.libDatabase.ManagerComment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ManagerComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectTask.InsBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectTask.InsBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
