@model IEnumerable<Ancol_PTM.libDatabase.ManagerComment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @using (Html.BeginForm())
    {
        <p>
            Name: @Html.TextBox("SearchName")
            Phone number: @Html.DropDownList
            <input type="submit" value="Search" />
        </p>
        <tr>
            <th>
                <p>Full Name</p>
            </th>

            <th>
                <p>Comments</p>
            </th>
            <th>
                <p>Project Task</p>
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectTaskid)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete",
                     new { id = item.Id },
                     new { onclick = "return confirm('Are you sure about your decided???');" })
                </td>
            </tr>
        }

    </table>
