@model Ancol_PTM.libDatabase.TaskStatu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TaskStatus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
