@model IEnumerable<Ancol_PTM.libDatabase.TaskStatu>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

    @using (Html.BeginForm())
    {
        <p>
            Status: @Html.TextBox("SearchTask")
            
            <input type="submit" value="Search" />
        </p>

    }
    <tr>
        <th>
            <p>Status</p>
        </th>
        <th>
            <p>Description</p>
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete",
                 new { id = item.Id },
                 new { onclick = "return confirm('Are you sure about your decided???');" })
            </td>
        </tr>
    }

</table>
