@model IEnumerable<Ancol_PTM.libDatabase.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
  
    @using (Html.BeginForm())
    {
    <p>
        Name: @Html.TextBox("SearchName")
        Phone number: @Html.TextBox("SearchPN")
        <input type="submit" value="Search" />
    </p>
       
    }

        <tr>
            <th>
                <p>Full Name</p>
            </th>
            <th>
                <p>Contact No </p>
            </th>
            <th>
                <p>Email </p>
            </th>
            <th>
                <p>Skills</p>
            </th>
            


        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skills)
            </td>
            

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

                @Html.ActionLink("Delete", "Delete",
                 new { id = item.Id },
                 new { onclick = "return confirm('Are you sure to delete this component?');" })

            </td>
        </tr>
    }

</table>
