@model IEnumerable<Ancol_PTM.libDatabase.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @using (Html.BeginForm())
    {
        <p>
            Name: @Html.TextBox("SearchName")

            Start Date: @Html.TextBox("SearchStartDate")
            <br /> <br />
            End Date: @Html.TextBox("SearchEndDate")
            <input type="submit" value="Search" />
        </p>

    }
    <tr>
        <th>
            <p>Name</p>
        </th>
        <th>
            <p>Start date</p>
        </th>
        <th>
            <p>End date</p>
        </th>
        <th>
            <p>Client Name</p>
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>


            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete",
                 new { id = item.Id },
                 new { onclick = "return confirm('Are you sure about your decided???');" })
            </td>
        </tr>
    }

</table>
